<div class="container">
<table class="table table-responsive bg-dark mt-5"   border="3">
    <thead class="text-white ">
        <th>name</th>
        <th>mobile</th>
        <th>email</th>
        <th>city</th>
        <th> Birth</th>
       
    </thead>
 <tr class="text-white" *ngFor="let i of x">
     <td>{{i.name}}</td>
     <td>{{i.mobile}}</td>
     <td>{{i.email}}</td>
     <td>{{i.city}}</td>
     <td>{{i.dob}}</td>
     <td><button type="submit" class="btn btn-dark" (click)="updateData(i)">edit details</button></td>
    </tr>


</table>



<div *ngIf=!b>
        <form  #ref="ngForm"  (ngSubmit)="savedata(ref.value)">
          <div class="form-group">
            <label for="n">Name</label><br>
            <input type="text" name="name" id="n"   [(ngModel)]="objecttoupdate.name"><br>
          </div>
          <div class="form-group"><br>
              <label for="e">Email</label><br>
              <input type="text" name="email" id="e"  [(ngModel)]="objecttoupdate.email"><br>
            </div>
            <div class="form-group">
                <label for="m">Mobile</label><br>
                <input type="number" name="mobile" id="m"  [(ngModel)]="objecttoupdate.mobile"><br>
              </div>
              <div class="form-group">
                  <label for="c">City</label><br>
                  <input type="text" name="city" id="c"  [(ngModel)]="objecttoupdate.city"><br>
                </div>
                <div class="form-group">
                    <label for="b">Birth date</label><br>
                    <input type="date" name="dob" id="b"  [(ngModel)]="objecttoupdate.dob"><br>
                  </div>
      <button class="btn btn-dark" type="submit" >save details</button>
      
      
        </form>
      </div>

      <router-outlet></router-outlet>
      <a routerLink="/profile1"><button class="btn btn-dark mt-5">back</button></a>

    </div>









<!-- 
<a routerLink="/profile1"><button class="btn btn-dark" >Back</button></a>
<router-outlet></router-outlet> -->
