

<div class="container mt-5" >
<div class="row mt-5">
    <div class="col-md-6">
        <div class="card">
            <a routerLink="/view2"><b>Profile</b></a>
            <a routerLink=""></a>
            <a routerLink="/ownermessage"><b> owner responce</b></a>
            <a routerLink=""></a>
            <a routerLink="/wallet2"><b>Payments History</b></a>
            <a routerLink=""></a>
            
            <a routerLink="/payments2"><b> Payments</b></a>
            <a routerLink=""></a>
            <a routerLink="" (click)="logout2()"><b class="text-primary">Log Out</b></a>
        </div>
    </div>
    <div class="col-md-6">
      <div class="text-center">
            <div class="card">
            <button class="btn btn-primary" routerLink="/searchnewhouse2" > search new house</button><br>
        
           <div class="text-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTouwOXq_yuwNEnhABBqRbhHs9VVZja2qt_u1Hj1-tpHZAsT-HU" width="30%" height="30%"   alt="">
        </div>
    </div>
    </div>
            <router-outlet></router-outlet>
    </div>
</div>
</div>