<div class="container">
<div class="row">

    <div class="col-md-3"></div>
    <div class="col-md-6">
        <img src="assets/wallet.jpeg"  alt="">
    </div>
        <table class="table table-responsive" border="3">
            <thead>
                <th>name</th>
                <th>Email</th>
                <th>account number</th>
                <th>mobile</th>
                <th>ifsc</th>
                <th>money</th>
            </thead>
            <tr *ngFor="let i of s">
             
             
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.account}}</td>
                <td>{{i.mobile}}</td>
                <td>{{i.money}}</td>
                <td><button (click)="deletehistory2(i.email)" class="btn btn-danger" >delete</button></td>
            </tr>
        </table>



        <button class="btn btn-primary mt-5" routerLink="/profile2" >back</button>
    
</div>
</div>
