<!-- <div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">



        <form #ref="ngForm"  (ngSubmit)="edit1(ref.value)">
                <div class="form-group">
                    <label for="">name</label><br>
                    <input type="text"  [value]="objecttomodify.name" [(ngModel)]="objecttomodify.name" name="name" ngModel ><br>
                 
                 
                    <label for="">mobile number</label><br>
                    <input type="number" [value]="objecttomodify.number" [(ngModel)]="objecttomodify.number" name="mobile" ngModel ><br>
                   
                   
                    <label for="">email</label><br>
                    <input type="text" [value]="objecttomodify.email" [(ngModel)]="objecttomodify.email" name="email" ngModel ><br>
                   
                   
                    <label for="">city</label><br>
                    <input type="text" [value]="objecttomodify.city" [(ngModel)]="objecttomodify.city" name="city" ngModel ><br>
                   
                   
                    <label for="">Dob</label><br>
                    <input type="number" [value]="objecttomodify.Dob" [(ngModel)]="objecttomodify.Dob" name="Dob" ngModel ><br>
                  
                    <label for="">password</label><br>
                    <input type="password" [value]="objecttomodify.password" [(ngModel)]="objecttomodify.password" name="password" ngModel ><br>
                </div>
              <button class="btn btn-dark" type="submit"  >submit</button>
              
              </form>



</div>
<div class="col-md-3"><a routerLink="/edit1"><button class="btn btn-dark" >Back</button></a>
    <router-outlet></router-outlet>
    </div>


</div> -->

