<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <form #ref="ngForm" (ngSubmit)="resetpassword(ref.value)" >
                <label for="">enter registered email</label>
                <input type="email" name="email" ngModel >
                <label for="">enter new password</label>
                <input type="password" name="password" ngModel>
                <button class="btn btn-primary" type="submit">save</button>
            </form>
            </div>
    </div>
</div>