<div class="container mt-5">
    <table class="table table-responsive" border="3">
        <thead class="bg-info">
            <th>name</th>
            <th>email</th>
            <th>dateofbirth
            </th>
            <th>mobile</th>
            <th>city</th>
            <th> owner responce
            </th>
        </thead>
        <tr *ngFor="let i of s">
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.dateofbirth}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.city}}</td>
            <td>{{i.responce}}</td>

        </tr>
    </table>
    <button class="btn btn-primary" routerLink="/profile2" >back</button>
</div>
