



<!--  
<div class="row">
    <div class="col-md-6">
        <div class="card">
           
        <a routerLink="profilepic"><b>Profile</b></a>
        <a routerLink="viewhouses1"><b>View Houses</b></a>
        <a routerLink="payments1"><b>Payments</b></a>
        <a href=""><b>Notifications</b></a>
        <a href=""><b>customer details</b></a>
        <a href=""><b>Logout</b></a>
    
    </div>
    </div>
    <div class="col-md-6">
        <div class="card">
        <div class="text-center ">
        <button class="btn btn-primary  ">Add New Houses</button>
    </div><br>
    <div class="text-center" >
    <img src="assets/keys.jpg" width="170px"  >
</div>
</div>
    </div>
     
   
    <router-outlet></router-outlet>
</div>
-->
